[2014-12-18 14:32] ctf0 opened #2 "Extended Support."
##### MarkDown  (disable the default package)

##### InDispensable

//

(u can use it with (i.e angular.js)  `"css_files": [".css", ".scss", ".sass", ".less", ".js"]`)

[2015-03-11 19:04] Shammah opened #3 "C++ Parenthesis fix"
Could you please merge in https://github.com/jesseweed/seti-syntax/commit/8e260ad269920ceda72070b75e781068688aad50 from the official repository? It fixes an annoying syntax bug in C++ :)

[2015-03-12 15:37] LinuCC commented on #3
It looks like this is a problem with the syntax-files.
Try using the C++-Syntax from the package "C++ Starting Kit" for a workaround, it does not have the annoying bug.
The problem is that many syntax-files for C++ in SublimeText define the ```meta.function-call.c++```-tag on the first parenthesis, which should not happen.
The only workaround I see is to manually override it in the theme-file for

[2015-03-12 15:40] LinuCC commented on #3
Screenshot for awesomeness:
![ugly-function](https://cloud.githubusercontent.com/assets/6419353/6621354/6bb33864-c8d6-11e4-8aaa-c3119c29c6eb.png)

[2015-03-12 19:28] ctf0 commented on #3
@Shammah how do i merge a package made for a total diff editor to this one ? plus unfortunately i don't use any of the `C` languages so i really cant help with what to add/edit/remove/fix so for now i believe ur only solution would be what @LinuCC have said.

@LinuCC can u send me the code u r having in the SS so i can work more on the coloring ,also if u r using a diff syntax than the one coming

[2015-03-12 19:31] Shammah commented on #3
Well, 'merge', I don't know how exactly you converted the files, but I
figured you'd know the best to take over this change as well.

Roy Stoof
Software / Firmware Developer
2M Engineering Ltd.

Phone: +31 06 11705123
Email: contact@protoman.net

2015-03-12 20:28 GMT+01:00 Muah <notifications@github.com>:

[2015-03-12 19:39] ctf0 commented on #3
@Shammah i can only implement whats in the original port if the syntax on ST allow that but if it doesnt i cant do anything unless someone make a a package with enough scopes to mimic the original.

[2015-03-12 21:11] LinuCC commented on #3
Opened a pull request #4 for a workaround.

[2015-03-25 17:10] LinuCC commented on #3
Since #4 is merged, I guess we can close this issue?

[2015-03-25 18:39] #3 closed

[2015-08-12 08:34] orenmizr opened #5 "Install instructions - what to put in the pref file??"
there are now instructions. i have setUI installed and setiUX on the mac. did not get the same scheme showing in the screenshots. still on seti_ui i suppose. the readme is lacking info, please advise.

[2015-08-20 14:13] ctf0 commented on #5
this actually should display once you install the theme
https://github.com/ctf0/Seti_ST3/blob/master/messages/install.txt

[2015-09-06 04:45] nicholaelaw opened #6 "Markdown Syntax Highlighting Issue"
Just installed Seti_UI and Seti_UX. Feels like I've not been using ST properly. Love every inch.

But I discovered a small issue in markdown syntax highlighting. If preceded by an HTML `<script></script>` block, syntax highlighting stops for all markdown texts that follows. JS and HTML highlighting is unaffected, just md.

The screenshot:

![setiux-md-highlighting-problem](https://cloud.githubuser

[2015-09-06 09:38] ctf0 commented on #6
first. glad you liked it, i do appreciate the kind words,
second. actually this is the first time i see scripts tag are used in MD however i think what you are after is
[code]

[2015-09-06 12:47] nicholaelaw commented on #6
Ahhh I should have explained my use case. Sorry for the confusion. I have a little blog on GitHub Pages built using Jekyll. I write articles in `markdown`, and Jekyll does the processing and renders them into web pages.

Occasionally I needed to insert a component like [`List.js`](http://www.listjs.com/) into the article, and some component requires a small script on the page to initialize.

So ye

[2015-09-06 12:53] nicholaelaw commented on #6
Oh another thing to note is that since GitHub Pages does not support GFM by default, I never learned to use the <code>```html</code> thing.

[2015-09-07 15:12] ctf0 commented on #6
can you send me some demo code to test with and also what is the scheme you use that gives you the correct coloring.

[2015-09-09 05:04] nicholaelaw commented on #6
Sorry for the late reply, here's the source of one of my pages: http://pastebin.com/5719GSw7

Here's how it looks like on my setup, notice the second title "How to" is not highlighted any more.

<img width="1139" alt="demo-highlight-issue" src="https://cloud.githubusercontent.com/assets/10719482/9753418/093eebe0-56ef-11e5-93d7-0a956689fde0.png">

I must apologize and correct my previous claim abou

[2015-09-09 15:57] ctf0 commented on #6
no its okay, we can find a solution for that but are you sure that writing tags within MD without any adding something like the quotes or something is right ?

[2015-09-09 16:42] nicholaelaw commented on #6
I'm sure. I'm writing a mixture of markdown, html and a little js within the md file. It's not quotes or code blocks.

[2015-09-12 07:47] ctf0 commented on #6
right now the only solution is to have the scripts inside either
[code]
or
[code]

[2015-09-12 07:48] #6 closed

[2015-09-30 10:49] #5 closed

[2015-12-26 22:27] kgizdov opened #7 "Stopped working in Makefiles"
Not sure why, but it updated and now targets in Makefiles are not highlighted, but were previously.

[2015-12-29 15:31] ctf0 commented on #7
can u send me something to test with as u never used that syntax ?

[2015-12-29 16:12] kgizdov commented on #7
Sure.
This is how Seti_UX looks now. Previously it would highlight the 'target' file (file at the begging of the line followed immediately by a colon), but not any more. Variables are set by putting '=' after them. Comments are given by '#' if it matters.
![Seti_UX](http://imgur.com/vCltP2a.png)

Here's a sample of another theme that shows some elements.
![Neon](http://imgur.com/7i1I6Wc.png)

[2015-12-29 16:13] ctf0 commented on #7
great, can u now send me the code to test with and add the HL for it ?

[2015-12-29 16:18] kgizdov commented on #7
[Here's one](https://pastebin.com/LZLjyFYB)

[2015-12-30 08:55] ctf0 commented on #7
check the last update and tell me if its working okay with u.

[2015-12-30 11:45] #7 closed

[2015-12-30 14:41] kgizdov commented on #7
all good

[2016-01-05 12:00] mkstix6 opened #11 "Improved support with old color palette"
Preference thing.
I like that the highlighting support is better, of course, but I'm not sold on the new color palette. Is there a way to get the old palette back?

[2016-01-05 14:07] ctf0 commented on #11
u mean the original port ?, if yes then u will need to make the changes ur self as i dont have time to report this with the old colors palette.

[2016-01-05 14:46] mkstix6 commented on #11
Ok, sure.

Perhaps you can still help.
The reason I installed SETI_UX is because the SETI_UI update removed the old palette I was using.
Do you know how to get the original port of the palette?
Does it still exist?
The SETI_UI home page now links to SETI_UX.

[2016-01-05 15:11] ctf0 commented on #11
sure, check this
https://github.com/ctf0/Seti_ST3/issues/207
and here are the old schemes
https://github.com/ctf0/Seti_ST3/tree/Mods/Scheme

[2016-01-05 15:11] #11 closed

[2016-01-05 15:15] mkstix6 commented on #11
Thanks for the help @ctf0.
And thanks for the hard work in the past porting SETI.

[2016-01-06 08:19] ctf0 commented on #11
np, its all good, glad u like it :smile_cat:

[2016-02-15 04:09] zhiqiang21 opened #12 "add explanatory note in css files appear problem"
when i use this theme  add explanatory note in css files appear problem.

 explanatory note and origin note not different.

![qq20160215-0](https://cloud.githubusercontent.com/assets/3990411/13039662/eb7cb216-d3dc-11e5-9c1d-a9056ed624b5.png)

[2016-02-15 08:03] ctf0 commented on #12
am sorry but what exactly is the issue ?, from what i see from the ss, the highlighting is working as intended.

[2016-02-15 08:34] zhiqiang21 commented on #12
thank you   , i know you  mean!

[2016-02-15 09:32] ctf0 commented on #12
so all good, close the ticket ?

[2016-02-15 13:22] #12 closed

[2016-02-18 16:11] NIPanag opened #13 "Better Javascript highlighting"
Hello, first of all thank you for your great work.
I chanced upon this project and I think it would be fantastic if Seti could work with it by design.
https://github.com/bathos/Ecmascript-Sublime

From it's readme

Here's a screenshot showing off it's capabilities.
![](https://raw.githubusercontent.com/bathos/Ecmascript-Sublime/master/example-barf.png)

[2016-02-21 23:30] ctf0 commented on #13
thanx for the suggest, but it seems it still in the beta phase, however i was thinking of changing from js next to babel but again both still not updated yet to the new syntax def, so will wait for a now till any gets updated.

[2016-03-25 13:00] polmes opened #14 "Strings not correctly highlighted in C/C++, Java, etc."
Ok, so I just realized (as per the screenshot below), strings &mdash;both 'single quote' and "double quote"&mdash; are not getting correctly highlighted in "non-supported" languages, like C/C++, Java, etc.

It looks like the issue was spotted and fixed over a year ago by @LinuCC in #4, but the workaround was then removed in 928f881, and the problem seems to persist today in both the latest stable

[2016-03-25 23:17] ctf0 commented on #14
am sorry i cant help as i don't use either of those languages, also this could be related to the new syntax added in the latest versions of ST.

[2016-03-25 23:58] polmes commented on #14
Yeah, I really don't know what the root of the problem might be. Having said that, I just tested re-adding something like 73709be (in ST 3103) and it looks like that would fix the problem... However, I haven't been able to check whether it breaks anything in other "supported" languages, as I don't use all of them either.

[2016-03-26 00:02] ctf0 commented on #14
this make us 2 :monkey_face:

[2016-06-22 09:54] buildersbrewery opened #16 "Popup styling"
https://www.sublimetext.com/3dev

[2016-06-22 09:55] ctf0 commented on #16
have no idea and the last dev is 3113

[2016-06-22 09:57] buildersbrewery commented on #16
Then he pulled it during the last couple of minutes.

[2016-06-22 10:00] #14 closed

[2016-06-22 10:00] #2 closed

[2016-06-22 10:00] ctf0 commented on #16
will keep an eye out 👀

[2016-06-22 10:03] buildersbrewery commented on #16
Build 3117 will be out shortly according to:

* https://forum.sublimetext.com/t/dev-build-3116/21148/12

[2016-06-22 10:16] ctf0 commented on #16
keep me posted 👍

[2016-06-22 10:22] buildersbrewery commented on #16
This was in `Monokai.tmTheme`:

[code]

[2016-06-28 11:43] ctf0 commented on #16
will be added asap.

[2016-07-05 01:37] ctf0 commented on #16
@buildersbrewery there is an issue with seti for some reason, however install the latest dev of ST and u will get  abit better popup clring

[2016-08-03 18:50] #16 closed

[2016-08-08 08:52] haitran14 opened #17 "Disable comment highlighting"
Your color scheme is amazing :+1:
However, can you add an option of disabling comments highlighting? As for me, I don't really enjoy it.
Thanks :).

[2016-08-08 09:51] ctf0 commented on #17
sadly schemes doesnt have the option to disable or enable anything , i basically either include the scope of not :(.

[2016-08-08 11:17] #17 closed

[2016-09-12 22:12] ctf0 commented on #13
@NIPanag do u still need this ?

[2016-09-12 22:44] NIPanag commented on #13
@ctf0 Hey, thanks for asking.
I don't need this anymore, no. I've since moved to typescript and as of a few days ago to atom.
I'll go ahead and close this issue.

[2016-09-12 22:44] #13 closed

[2016-10-06 09:18] brunowoo commented on #17
Would you be able to give me a hint on what I should edit to disable these? It seems that in yaml files empty lines are also highlighted, which I find a bit annoying personally.

[2016-10-06 12:44] ctf0 commented on #17
@brunowoo can u open a new issue for this ?

[2016-10-07 22:44] reygoch opened #18 "Better haskell syntax support"
Hi, is it possible to get better Haskell syntax support? Current one is kind of lacking. There is SublimeHaskell package that gives a nice syntax support for Haskell but it's kind of ugly :D

[2016-10-08 00:12] ctf0 commented on #18
i found a the schemes it use https://github.com/SublimeHaskell/SublimeHaskell/tree/master/Themes , maybe you can copy the hl from them and add to seti under new section then change it  to go along with the rest of seti ?

u can use https://packagecontrol.io/packages/ColorHelper to make it easier to you to view the colors in the scheme file.

[2016-10-08 10:27] reygoch commented on #18
Is there a list of all colors used in Seti_UX?

[2016-10-08 12:06] ctf0 commented on #18
no, not really but am working on extracting all through https://packagecontrol.io/packages/Huely%20Palette%20Extractor

for now you can use adifferent syntax as ref and use https://packagecontrol.io/packages/ScopeHunter to easily get the scope colors

[2016-11-13 14:43] ginfuru opened #19 "Completely unrelated"
Hey sorry for posting an issue for unrelated items, but figured I'd share my iTerm2 color scheme https://github.com/ginfuru/iTerm-RainCoat

[2016-11-13 14:43] #19 closed

[2016-11-13 15:40] ctf0 commented on #19
well fuck yeah, wanna add it to seti rdme ?

[2016-11-13 15:42] ginfuru commented on #19
Yeah i can do that.

[2016-11-13 15:42] ctf0 commented on #19
go for it then and send me the PR :+1:

[2016-11-30 05:28] #18 closed

[2016-12-20 18:36] Dopamine63 opened #21 "Strings too dark in python"
Pretty much what the title says

Here is a screenshot as an example.
![screen shot 2016-12-20 at 15 38 53](https://cloud.githubusercontent.com/assets/11146784/21363132/9f4bf6a6-c6eb-11e6-8eae-3cd56eb9e7b9.png)

[2016-12-20 18:53] ctf0 commented on #21
updated, plz manually install the latest commit and see if it fix ur issue

[2016-12-20 19:04] Dopamine63 commented on #21
Yes its fixed 👍
![screen shot 2016-12-20 at 20 03 49](https://cloud.githubusercontent.com/assets/11146784/21364054/7b650350-c6ef-11e6-81b0-94dfd5a6ec50.png)

[2016-12-20 19:23] ctf0 commented on #21
sweet

[2016-12-20 19:23] #21 closed

[2017-07-05 18:48] pykong opened #22 "Highlighting for string interpolation in Python 3.6 not supported."
**First of all: Thank you for putting up such helpful color scheme, it is a joy to work with!**

Python 3.6 added string literals as an easy way of formatting strings:

    f'He said his name is {name} and he is {age} years old.'

This new feature was well received by the community and therefore will be a much used pattern as more folks migrate to Python 3.6. (You can learn more on string interpol

[2017-07-05 20:49] ctf0 commented on #22
first am happy to find others still enjoy such a scheme :trophy:
second the high lighting is very much related to the syntax you use, means that if you use a python package to which have much more support than the one that ships with ST , it will be hard for me to keep up with both & thats why i mostly stick to ST default syntax and sadly it doesnt get updated as much and even when it does it add

[2017-07-05 20:54] bfelder commented on #22
Thanks for your fast reply.
I am not sure whether I will be able to add the changes myself.
I am going to let you know after I had a deeper look into the source of Seti UX on the weekend.

[2017-07-09 11:33] bfelder commented on #22
Now that I have checked the regarding xml file out, I think the way forward is to see whether other color schemes support string interpolation and then adopt their approach. I am going to complete that task during next week and will post my results/ pull request.

[2017-07-09 21:07] ctf0 commented on #22
awesome

[2017-07-10 18:04] bfelder commented on #22
Hey ctf0, as I already suspected we would require additional scope definitions to highlight that new syntax. Fortunately other smart guys have already done that work for us. Have a look at the MagicPython package by a fellow sublime lover: [https://github.com/MagicStack/MagicPython/blob/master/grammars/MagicPython.cson](url)
See lines 4059-4104 for the definitions of string interpolations. I do no

[2017-07-10 23:32] ctf0 commented on #22
sadly it wont work in both default & MagicPython, because of the supported scopes which is found under one and not the other,
however if u r still into it then get https://packagecontrol.io/packages/ScopeHunter and use it to easily id the scope you want then simply open seti_ux and add that scope with the hl you want

[2017-07-11 04:29] bfelder commented on #22
Thanks for the link. ScopeHunter is a nice addition to ColorSchemeEditor, as it allows better display of the scopes.
Yes, I am still into it. Certainly many of our fellow Sublime Text users would love Seti UX with Python 3.6 support as well. Would you like receive the results of my modification efforts? You can then decide whether to publish those as a python 3.6 compatible fork of the awesome Set

[2017-07-11 04:51] ctf0 commented on #22
np at all, send me the PR and will add the new mods it in the release notes 👍

[2017-07-11 04:53] bfelder commented on #22
Awesome! It will take me a couple of days though. So be patient. :+1:

[2017-07-12 22:14] bfelder commented on #22
I have good news, ctf0: I believe it is possible to create a single thTheme file supporting both Sublime's default python scopes as well as the advanced highlighting features of MagicPython. Also as far as I know there aren't many other color schemes for Sublime supporting the full Python 3.5+ syntax. So, the new Seti UX may become even more popular then ever before!

My problem is that I can not

[2017-07-13 01:44] ctf0 commented on #22
1- `</string>` should be on the same line as the opening tag
2- if `<key>name</key>` is empty it should be removed
3- updating the scheme, reflects automatically on the opened files so no need for clearing the cache or anything extra

[2017-07-13 21:09] bfelder commented on #22
Indeed I totally overlooked the **\n** in the string tag, due to column wrapping in my editor. Now it works thanks. I spent the last couple of hours going through an extensive review and modification of the new scopes' colors, comparing the default with the new version. I have now uploaded an updated version of the tmTheme file. I am going to make a pull request out of it, after I have added  some

[2017-07-16 04:03] ctf0 commented on #22
https://github.com/ctf0/Seti_UX/pull/23

[2017-07-23 19:43] bfelder opened #24 "Enhancement: JSON level coloring"
The color scheme Monkai JSON+ offers the unique feature of highlighting nesting level with color.
Have a look here: [Monokai JSON+](https://packagecontrol.io/packages/Monokai%20JSON%2B)

I feel Seti UX a similar coloring would be a good fit to Seti UX, which is a vibrant theme in itself.
Such coloring would undoubtedly enhance the comprehensibility of JSON, therefore being useful to the user.

[2017-07-23 19:45] ctf0 commented on #24
seti used to have this, but with latest updates in json, it totaly blowen up, so i removed all and kept only the first level
![json](https://user-images.githubusercontent.com/7388088/28502328-2a554be6-6ff0-11e7-9264-9dbef2e28145.png)

[2017-07-23 19:50] bfelder commented on #24
Ah, so sad. You got good taste to include it in the first place. Any plans to re-include it. Maybe with hint from the Monokai JSON+ theme I have mentioned?

[2017-07-23 19:52] ctf0 commented on #24
i doubt `Monokai JSON+` is still working with the latest version of ST, if you want to give it a try ? go for it.

[2017-07-23 20:00] bfelder commented on #24
No. Not in the foreseeable future. Yet, there is another python addition I like to contribute to Seti UX. More on this in a well from now.

[2017-07-23 20:00] #24 closed

[2017-08-19 14:53] ctf0 commented on #22
@bfelder i couldnt stand the fuchsia everywhere, so i changed some colors, plz download the latest commit and check if u can still tell which is which

[2017-08-20 11:30] bfelder commented on #22
@ctf0 As I said you are more experienced in choosing colors. :)  Indeed I was not 100% satisfied with the commit I provided. So, I kept improving the scheme. Yet, I was not going to make a PR until further testing. I'd also like to t extend the syntax support to the other two popular python language definitions.
This would make Seti UX stand out as the first color scheme supporting all available P

[2017-08-20 17:11] ctf0 commented on #22
its okay no rush, take ur time 👍

[2017-08-27 19:26] bfelder commented on #22
@ctf0 I am on it. I will open PR once it is ready,

[2017-08-29 16:23] bfelder commented on #22
@ctf0 Check by tomorrow. I may have a PR ready by then.

[2017-08-30 18:56] bfelder commented on #22
PR is ready. Check if you like it. Fuchsia should be much less prevalent by this iteration.
Still, I am very unsatisfied how regexp is displayed in MagicPython. For some reason, any changes I made to the tmTheme file did not punch through to the actual display. As the colors have been randomly generated for my first PR, the result is very unreadable.

Also, note that I am going to include definiti

[2017-09-02 19:26] pykong opened #26 "Duplicate scopes in tmTheme file?"
In preparation for the next update of our awesome theme, I decided to check for duplicate scope entries.
Indeed I myself introduced a duplication for the python import scope. While this does not negatively affect the appearance of Seti_UX, it interferes with making changes to the theme, as the latter duplicate overwrites the first one.

To programmatically clean out potential other duplicates I re

[2017-09-02 21:26] ctf0 commented on #26
actually u r right, there ARE duplicates & i really would like to clean that up but as i am not the familiar with how the regex works for the syntax i don't know how to minimize the footprint of the scopes.

however if you found any exact duplication in scopes, you are free to clean it up, if you even have a tool to do that "like a comparison tool maybe" , it would be even more awesome 🎉

[2017-09-02 21:46] bfelder commented on #26
@ctf0 Thanks for your feedback.

I can and will do the cleanup for python. Yet, for other syntaxes, I lack the knowledge or time to do.
I believe it is advisable to keep this issue open. So, if more people join the development of Seti_UX they will be informed by the list of duplicates above.

Regarding the tool. I am not sure what you imagine such comparison tool will do. I have a tiny script whic

[2017-09-02 22:22] ctf0 commented on #26
st will only read the last copy of the scope **IF** its exactly the same, if different then it will leave it alone.

so the tool i was thinking is , simply check for the scope keys that are identical
maybe like a loop and after processing the whole file, check each array with more than one item and remove from the top and leave the last.

does this make any sense ?

[2017-09-03 08:30] bfelder commented on #26
@ctf0 I need to judge how doable such plugin might be. As you are much more knowledgeable in these matters, could you answer the following question:

Would it in this (contrived) example below, matter at all if we just deleted the first block?
Note: The scope `punctuation.section.function.lambda.begin.python` is duplicated here. Yet, in the second block, it is found together with another scope.

[2017-09-03 08:54] ctf0 commented on #26
the string key have to be exact otherwise its considered a scope restriction.

consider we want to color each scope in this example `$('abc')`
- `$`
- `()`
- `'...'`
- `abc`

so actually you will end up have some partially duplicated scopes in all 4 of them

[2017-09-03 09:15] bfelder commented on #26
@ctf0 If it is not a scope restriction, but a comma separated list of scope keys it is easily doable.
The question is: Which one to delete always the previous ones. Or in case delete the single ones, as more "thought work" has gone into combining several key scopes.

[2017-09-03 17:07] ctf0 commented on #26
sorry for that, comment updated

[2017-09-03 19:19] ctf0 commented on #26
the answer to your question

[code]

[2017-09-08 19:01] bfelder commented on #26
@ctf0 I have modified my duplicate checker to reflect what you taught me about the tmTheme syntax.
This drastically lessened a number of potential duplicates in Seti_UX to this list:

[code]
_(Of which not all were duplicates at all but mere artifacts.)_

PR stands by. Could you check whether you agree with the changes I made?

Note: One intended color change regarding python's import syntax slipp

[2017-09-08 19:06] bfelder commented on #26
After the duplicate scopes have been eliminated I can begin to amend the other Python definitions.

[2017-09-08 21:06] ctf0 commented on #26
plz merge the latest commit to your copy

[2017-09-08 21:08] ctf0 commented on #26
also am not sure, but have you finished removing all the duplication ?

[2017-09-08 21:28] bfelder commented on #26
@ctf0 Excuse a humble question: I do not understand why I need to merge the latest commit to my copy. You mean because it is not released yet and you made additional changes?

Do you have reason to think that there are still duplicate scopes left? If so tell me. I will then be able to improve.

I am personally 90% sure all duplicates have been removed.
The duplicate checker I created to give the d

[2017-09-09 00:58] ctf0 commented on #26
its okay, and yes because of the changes made so i dont need to re-apply again after ur edits.

not entirely sure whether there are still duplicates or not, am one of those ppl that needs to check line by line but the scheme is too long and i dont have the power to go through it atm.

i saw the script previously, but not sure how exactly it works as i dont know anything about python :cry:

anyway

[2017-09-09 08:59] bfelder commented on #26
@ctf0 Great.

The script's usage does not require any knowledge of python at all!
You can simply run it via `python tmtheme_deduper.py path/to/my.tmTheme`.
(Should run with python2 as well.)

- The script will then iterate over the entire XML tree.
- If a node's text has the value `'scope' `then the next node's values are retrieved.
- They're `split on ','` and individually loaded into a Counter d

[2017-09-13 21:23] bfelder commented on #26
@ctf0 Could you have another look at the duplicate issue?
Search for "entity.name.function.python meta.generic-name.python" (note: no comma here) and then again for "entity.name.function.python". The first extended scope overwrites the latter one.

[2017-09-13 22:27] ctf0 commented on #26
its intended,`entity.name.function.python meta.generic-name.python` gives u more control to color this scope , instead of having a global `entity.name.function.python` scope that colors all its children the same

[2017-09-21 04:32] ctf0 commented on #26
hey @pyking2 is it possible to have a script that gets all the lines with the same hex code & maybe run some operations on it **like combining them together**

am thinking of combining all the scopes that have the same `<key>settings</key>` value, it will reduce the file size drastically and will make maintenance much easier

[2017-09-21 07:49] pyking2 opened #29 "Too many colors"
Extracting all hex from the current tmTheme file yields 197 unique colors.
_(NOTE: All results have been converted to upper case, while originally some hex values were lower case. Also colors have been sorted and therefore are not listed in order of occurrence.)_

**Complete color palette:**
[code]

[2017-09-21 07:52] pyking2 commented on #26
@ctf0 That would be simple to do.
Yet, I doubt that reducing size matters especially regarding how well Sublime Text handles large files sizes.

Also, maintenance would become impossible, if you just combine all scopes, no matter to which syntax they belong or how related they are, only according to their shared color value.

Ironically just yesterday I wrote a python script to extract all differe

[2017-09-21 07:59] ctf0 commented on #26
honestly it have pros and cons

 you can now find which color you a scope to be equal and add the scope to it.

the scope list will be massive especially that we cant have new line per scope.

the reason i wanted to do that because atm i want to add support for new js package & with the way am currently picky with colors and stuff its just pure agony.

regarding the colors, yes I DO have to minimi

[2017-09-21 08:04] pyking2 commented on #26
@ctf0 The vast number of colors makes it also impossible to combine scopes.
Otherwise, it would be very simple as I said.

So, tell me what I can do exactly to help you in this regard.

[2017-09-21 08:11] ctf0 commented on #26
i think i have a good idea, send me a PR with ur current progress
i will cleanup the colors with find & replace then push back.

i believe this will make it much easier for you to work with.

[2017-09-21 08:13] pyking2 commented on #26
That sounds good. Just use the current PR still open.

[2017-09-21 08:27] ctf0 commented on #26
can u plz check and resolve the confliction ?

[2017-09-21 11:01] pyking2 commented on #26
You can clean up colors for all python as well. Set them to any value that suits you. I am going to re-edit them once I have merged all definitions. If in doubt just them to `#FFFFFF`.
At this point, it is more important to clean up colors then ending up with a polished (python) theme.

After cleanup, we should define the color palette in a separate file so that allowed colors are stated somewhere

[2017-09-21 11:03] pyking2 opened #30 "State color palette"
It would be great if all allowed colors for Seti_UX would be listed in a dedicated file as their hex values.
That would make it more easy for anyone wishing to contribute and allowing for easier consistency.

[2017-09-21 13:08] ctf0 commented on #30
i used to use https://packagecontrol.io/packages/Huely%20Palette%20Extractor but it doesnt work anymore

[2017-09-21 13:13] pyking2 commented on #30
No worries I will take over that part once we deem the theme to be ready.

Extraction of color hex values is no problem.
I have a script and can do this. :+1:

When it comes to visualization, it would be best to actually display the colors.
I have not found a good application for it.

Maybe Sublime's popular ColorHighlighter will have to suffice.

[2017-09-21 13:16] ctf0 commented on #30
btw do u know an app , site that round hex colors to similar hue ?

[2017-09-21 14:00] pyking2 commented on #30
@ctf Ah, hand work gets tiring. ,-)

No, I do not know about such an app. There might be such an app though, yet unlikely it will work for such special case as hex colors embedded in a XML file. I thought about it:

**If you provided me with the complete color palette of Set_UX. I am going to round all colors.**

- Just post a list of hex color, as I did in the other thread.
- One color per line.

[2017-09-21 14:28] ctf0 commented on #29
[code]

[2017-09-21 14:29] ctf0 commented on #30
done, check last commit, its not final as i would definitely change some to how it used to be.

[2017-09-21 14:32] ctf0 commented on #30
or wait up, let me finalize it first

[2017-09-21 14:44] ctf0 commented on #30
so, as much as i hate this, but i need to group the scopes according to colors b4 going any further.

the last commit will have the colors down to like 10 or 15 but i honestly just hate it, i cant stand the way the scheme looks atm.

the problem is seti is built on neon, thats why u see lots of very bright eye burning colors, but i have add lots of colors as well, and to compress them down to only

[2017-09-21 14:50] ctf0 commented on #26
Python 3 - from Peter Varo scopes are global, it simply screwed everything up, plz only include the scopes you need, dont copy the others scheme as a whole and paste it

[2017-09-21 20:16] pyking2 commented on #30
I never stated that I need no more than 10 colors. I can do any number you see fit.

[2017-09-21 20:24] pyking2 commented on #26
I do not know about global scopes. I thought once I removed the duplicates - which I did - there would be no interference. That is unfortunate, I really like to support **Python 3 - from Peter Varo** as it is the most popular python syntax for sublime. How can we make this work?

[2017-09-22 04:41] ctf0 commented on #26
dont include the scopes that is already in seti

[2017-09-22 05:11] ctf0 commented on #30
okay, good news, found the similar colors between neon and seti using

http://www.molbiotools.com/textextractor.html
http://www.molbiotools.com/listmanipulator.html

neon have 182 color
seti have 186 color
similar 18 "exclude white/black"  color

[code]

so now simply have a script that find all the above hex in seti and replace with something like `abc` so we can target it later.

plz do it on th

[2017-09-22 05:31] #29 closed

[2017-09-22 12:41] pyking2 commented on #30
Pushed the wrong file.

[2017-09-22 13:00] ctf0 commented on #30
the reason for non hex code is to keep it from interfering with other.

however to make sure we dont get errors in sublime when the seti is loaded, rename it and wrap it inside a comment tag, this way it fallback to white and we still can track it with ease.

[2017-09-22 13:02] ctf0 commented on #30
btw i removed `48FFC2` from list, please update ur script

[2017-09-22 13:02] pyking2 commented on #30
@ctf0 I used `"#EEEEEE"` as hex code to prevent Seti theme from crashing.

[2017-09-22 13:03] ctf0 commented on #30
if u really need to use a hex, then extra number at the end, this is considered as alpha channel and st will respect it

[2017-09-22 13:08] pyking2 commented on #30
@ctf0 I am not sure what you exactly need or what it is you want to accomplish. I replaced all occurrences of the hex color with a unique one, so they stand out and the theme file can be further modified by you.

So you want the respective line to be commented out in addition?

Please update your color list above `#48FFC2` is still in there.

[2017-09-22 13:10] ctf0 commented on #30
its okay, just add `00` to the end of `EEEEEE`

[2017-09-22 13:17] pyking2 commented on #30
Check if the most recent PR is what you require.

[2017-09-22 13:26] ctf0 commented on #30
i think all in order now and we can close this one, if you need some more colors other than the one already included you can also check https://github.com/ctf0/Seti_UX/issues/29#issuecomment-331173813

[2017-09-22 13:26] #30 closed

[2017-09-22 13:29] ctf0 commented on #26
now start adding any extra scopes you want off the latest commit, also while working if you found any scope missing a color plz tell me

[2017-09-22 13:31] ctf0 commented on #30
btw after all is done a file with all the color codes will be added as you suggested so everyone can use it from now on

[2017-09-22 13:33] ctf0 commented on #26
btw can you open a new ticket with all the scripts you used "with some info on how to use if possible" for ref ?

[2017-09-22 13:36] pyking2 commented on #26
1. OK, I'll try.

2. I quick checked using the patterns `><` and `> <` and did find any empty brackets for foreground color, except those in commented out nodes

3. I am going to later they day. Anyway, do you got python installed, in case you want to use the scripts? What OS are you on?

[2017-09-22 14:05] ctf0 commented on #26
am on mac so i believe python is already installed.

the empty `></` are for overriding prev scope declaration.

[2017-09-22 14:06] ctf0 commented on #26
btw i have pushed a colors md file so its easier to find the color you want, but as am not that good with md so if you can enhance it plz do.

[2017-09-22 14:28] ctf0 commented on #26
maybe we can have a script that reads the file hex colors and create the md/html on the fly like https://packagecontrol.io/packages/Huely%20Palette%20Extractor maybe ?

[2017-09-22 15:49] pyking2 commented on #26
The raw file is not markdown but HTML, as it appears.
I believe it is best to just list the hex values line by line.

This is important in case one likes to programmatically work with those colors, she will not need to extract colors from the file first.

Anyone who will want to contribute will do so via Sublime and therefore can easily display colors via ColorHighlighter. Maybe we just drop a lin

[2017-09-22 17:12] ctf0 commented on #26
i will add an html with color rep & hex for better visualization, maybe even make it a little side project.

anyway would it be too much if i asked u to wait till i merge some colors, now that i can see better what are colors are very alike ?

[2017-09-22 18:25] pyking2 commented on #26
@ctf0 We may include both an HTML for better visualization and a simple file. Both can be easily created by a script. If you tell me about the structure of HTML I can do that.

My plan is to wait anyway until you have made the changes required.

Again if you like to merge colors t reduce their total number I may do this easily.
All I need is a list of colors to be rounded to.

[2017-09-22 18:51] ctf0 commented on #26
actually i just spent the last hr or so trying to merge the colors but it either looks dull or made me want to sleep, so its kept as it is and i've add the html instead, just open it in ur browser and you will get both the color and hex

[2017-09-22 20:54] pyking2 commented on #26
Regarding the scripts that you want me to upload, which functions do you seek exactly?
I once uploaded the script for seeking duplicate scopes and linked it here.

Which other do you want?

[2017-09-23 03:24] ctf0 commented on #26
the one that extracts the colors & the other that change the names.

btw i have an idea call scheme merger.

atm you want to add support for 3 python packages + the default that comes with st,
so instead of searching for the scopes and copy/paste them manually,
why not make a script that cross reference scope names in both scheme files and only add the new ones,
the full scope line have to match t

[2017-09-23 11:01] pyking2 commented on #26
I have uploaded both scripts. Usage should be very simple. Instructions included. I have not tested on MacOS but the command line should be the same as on Linux.
Tell me if you need anything.

HexReplace:
https://gist.github.com/pyking2/0ae113a629106220e6808d6c44db505d

HexExtract:
https://gist.github.com/pyking2/c1f148b3c8d0f54c804501a63ca6d649

[2017-09-23 11:04] pyking2 commented on #26
@ctf0 Indeed I was thinking about such script to auto-merge scopes. But I am not sure how to do it.
Most likely it has to be a sublime package which extracts scopes under different syntaxes and saves them under keys for cross-reference. I do not know how to resolve an example file into different scopes though and do it in a way that allows for easy cross-referencing.

[2017-09-23 14:33] ctf0 commented on #26
i dont think we need a package for that but here is what i think of

- make a script that takes 3 args "scheme 1, scheme 2, output file"
- in each scheme file search for `<key>scope</key>` and get next line `<string>.*</string>`
- now cross ref between both files results
- for unique ones, traverse up to first `<dict>` and down to second `</dict>` and copy the whole block
- paste the data into the

[2017-09-23 14:37] pyking2 commented on #26
@ctf0 Just preventing duplicate scope names is simple, it is what my [deduper](https://gist.github.com/bfelder/d9048169c629b02ece018146312d1d0f) script already does!

The problem is if the underlying language definitions differ in name but refer to the same/similar keywords/structures.

[2017-09-23 15:07] ctf0 commented on #26
you mean the scope name or the `<key>name</key>` ?

what `"` ? the color hex is put right under it, so you can copy it and paste it anywhere .

initially i was planning for having a simple tool to help clear up the scheme colors as quick as possible, but maybe i would add some other options later on.

if you have some thought am all ears 👂

[2017-09-23 15:56] pyking2 commented on #26
I mean the content of string:
[code]
That scope name may differ in different syntax defintions, yet color same or similar code elements.
I.E. there is no straightforward way to merge the python definitions. Just removing duplicate scopes is not doing anything in this regard.

Regarding colors.md. Now it is great! :+1: I was able to copy it into your codepen tool and it works beautifully!

Besides

[2017-09-23 16:01] pyking2 commented on #26
I also noted that indeed many colors in Seti_UX are indeed very similar, to the degree they are not visually discernable.

Like:
- `#ffcc01ff` and `#ffd200ff`
- `#7e99a6ff` and `#66828eff`

We may still consider merging those colors close to each other. This will be a huge cleanup of code without affecting the visual appearance of Seti at all.

[2017-09-23 18:23] ctf0 commented on #26
for the scopes yes its a big downside but sadly thats the only way to support more than one package & sadly ST syntax is fucked in too many ways and it gets updated very rarely

i will try to do some cleanup today without compressing too many colors.

atm i was trying to find a way to merge 2 colors programmatically as stated in the todo, but cant find a way yet.

[2017-09-24 06:33] pyking2 commented on #26
What do you want the result of a color merge to be exactly?
Can you not just _decide for one color_ and then do a **replace-all** ?

[2017-09-24 07:01] ctf0 commented on #26
no, the color merging means like when u put a blue on red , or yellow on green.

what u r talking about is color replacing.

[2017-09-26 10:35] pyking2 commented on #26
@ctf0

Did you make progress on merging the colors?

Starting the day after tomorrow I will have the time for another attempt at merging the colors.
The guys on the discord group may help me with this.

Did you consider giving me [push access](https://stackoverflow.com/questions/14969281/git-how-to-give-people-push-access-that-needs-to-be-merged-in-by-organizers) to Seti, because this would make c

[2017-09-26 11:21] ctf0 commented on #26
sent but try to follow the updates in the last commit this way we dont overlap eachother

[2017-09-26 12:29] pyking2 commented on #26
@ctf0 Thanks for your trust, Muah!

I am going to come back to you on Thursday. I do not know how much progress I can make until then merging the python schemes. Yet, colorizing them is a step that comes after merging, so you are in no immediate hurry to minimize colors.

[2017-09-27 11:22] ctf0 commented on #26
btw found a way to blend 2 colors, but not sure how to incorporate it into the pen tool yet.

[2017-10-08 21:25] pyking2 commented on #26
@ctf0 I am still committed to merging the python schemes. Right now I am working on a major update for SublimeLinter.

Your color tool is great! Especially since it is really easy to remove colors.

[2017-10-29 19:43] pykong commented on #26
@ctf0 Any update on fixing that issue with your color tool?

[2017-10-29 20:25] ctf0 commented on #26
its working as b4, nothing changed.

[2017-10-29 20:36] pykong commented on #26
OK, then the removal function has never work.
<kbd>Alt</kbd> + <kbd>Click</kbd> : Remove Color

Just copies the color code to clipboard but does not remove a color from the list.

[2017-10-29 20:43] ctf0 commented on #26
when removing a color, a new list will show on the side, does it show up ?

also try other keys on ur keyboard, could be any of `ctrl,option,alt` depend on how the os map the keys.

[2017-10-29 20:46] pykong commented on #26
No such list appears anywhere and I have tried with all available modifier keys.

[2017-10-29 23:22] ctf0 commented on #26
i've changed it to `shift + click`, hopefully ur issue is solved now

[2017-10-30 10:04] pykong commented on #26
It does! :+1:
Thank you for the quick fix.

But how can I get the list with updated colors?
The one on the upper left is not updated at all.

[2017-10-30 10:15] ctf0 commented on #26
aaaa, actually i have made the list for the removed not the remaining, i think i should make a toggle for that.

[2017-10-30 11:11] pykong commented on #26
Ah, ok. :+1:
Let's get back to making Seti even greater.

[2017-11-01 22:29] pykong commented on #26
I see you indeed cleaned up the scheme. Now there are about 20 colors less.
Still, many colors look much the same.
I believe it is difficult to sort them out manually without some preparing them.
Here find a list of all 145 colors currently in the theme:

https://pastebin.com/ej4PybND

Have a look at those.
You may want to remove those that look almost identical.

Just provide me with a shortened

[2017-11-01 23:13] ctf0 commented on #26
not sure what u r talking about, but i havent removed any colors yet unfortunately as am working on something else

[2017-11-02 19:06] pykong commented on #26
OK. Nevermind.
Your color tool is great, btw!

I am busy with plugin development, big release coming.
I have Seti_UX on my radar though. There's still work to be done.

[2017-12-17 21:27] pykong opened #34 "Simplify Color Palette"
There are currently **163** (!) distinct colors in Seti_UX.
That high number makes maintenance and extension of the color scheme difficult.
Also, many colors look so similar that they are not visually discernable, which goes against their very purpose.

I have reduced the original palette down to 100 colors, by eliminating those that I could not readily tell apart:

https://pastebin.com/nA2JZvyp

[2017-12-18 06:58] ctf0 commented on #34
i honestly cant tell unless i have it applied to the scheme, so go a ahead and apply the changes and will refine it after

[2017-12-18 06:59] ctf0 commented on #22
@pykong do u still need this ?

[2017-12-18 07:01] ctf0 commented on #26
do we still need this ?

[2017-12-18 22:33] pykong commented on #34
@ctf0 Sure, find it here:
https://pastebin.com/qSaYfBLv
(My git is currently not working.)

Important is to get us a consistent color palette, because this will instruct any further improvements and adaptions of this great color scheme. I for example would like to just chose from such palette instead of just randomly introducing new colors as I seem fit.

I could even write a Travis test for it to

[2017-12-19 00:54] ctf0 commented on #34
for some reason the one on pastebin is 10kb bigger, is it possible to apply the changes to the latest commit ?

[2017-12-31 13:30] #26 closed

[2017-12-31 13:30] #22 closed

[2018-01-05 00:03] pykong commented on #34
@ctf0 Hey, sorry for the big delay. I have been busy programming the newest version of SublimeLinter in the past couple of month and needed to do a lot of stuff for the beta.

Yeah, I can apply the changes directly. Will, push those to a separate branch so you can safely check em out, bro.

[2018-01-05 23:42] pykong opened #37 "Color json according to nesting depths."
As of `ST v3156` this works again:
See recent screenshot with `DA CS/Ayu Dark.tmTheme`:

![image](https://user-images.githubusercontent.com/20211140/34633107-186cfbec-f27a-11e7-9e84-0f716db91d0f.png)

Previous issue on the same topic: #24

[2018-01-05 23:49] pykong opened #38 "Implement CI"
We may consider adding automatic tests to stick to continuous integration practices, because this helps to ensure code quality.

I suggest every commit should be checked for:
- **consistency of color palette** => error when introducing colors not in our palette
- we should stick to one **case for declaring hex colors**, outside of web dev hex colors are usually upper cased

Tests may be implemente

[2018-01-05 23:53] pykong opened #39 "Create collection of scheme tools."
We use three tools to help us adapt and extend Seti_UX.
- `hex_tractor.py` (extracting color palette from theme file)
- `hex_rounder` (reduce color palette of file and switch case of hex strings)
- `color_visualizer.js` (visualizing and editing color palette)

It would be great if we collected them into a single place.
Either a new separate repo or as sub_dir of Seti_UX.

[2018-01-06 00:10] pykong opened #40 "Convert to ".sublime-color-scheme""
The new scheme format comes with many improvements.
Among those is the ability to declare variables, which greatly simplify working on a color scheme.

![image](https://user-images.githubusercontent.com/20211140/34633727-5038c80e-f27e-11e7-99d5-55513a885ef3.png)

We may consider freezing the old `.tmTheme` file and continue development solely in the new format.
Once the new format hits the stable

[2018-01-14 14:27] ctf0 commented on #39
create a new branch and send a PR

[2018-01-14 14:27] #39 closed

[2018-01-15 12:15] ctf0 opened #42 "Syntax Refactoring"
- js
- css/scss
- [json](https://github.com/ctf0/Seti_UX/issues/37)

[2018-03-12 20:51] pykong opened #44 "Duplicate scope detected"
It happens that a new duplicated scope has been introduced.
[code]
It has **two** occurrences throughout the current theme file.

[2018-03-13 07:28] ctf0 commented on #44
u r correct, fixed

[2018-03-13 07:28] #44 closed

[2018-03-13 09:25] ctf0 commented on #34
will close this in favour of the PR.

[2018-03-13 09:25] #34 closed

[2018-03-13 09:39] pykong commented on #34
I tend to keep issues open and let them close via a PR hook.
You can try it out, just put
[code]
Into the PR's comment and GitHub will automatically close the issue once the PR got closed/merged.
This is a really convenient to keep a repo tidy.

[2018-03-14 21:41] pykong commented on #40
@ctf0 Have you ever tried to convert `Seti_UX`?
Sublime Text's inbuilt command throws an exception related to an invalid hex value when I attempt to perform this conversion (*See console output*).
I do not get the same error with other schemes tested.

![image](https://user-images.githubusercontent.com/20211140/37432466-b84859de-27d8-11e8-9694-f358a25a2cf4.png)

[2018-03-14 22:16] ctf0 commented on #40
am not sure where is that cmnd came from

[2018-03-15 19:33] pykong commented on #40
OK. You need to open and focus the `Seti.tmTheme` file.
The search command `Convert Color Scheme` via command palette.

[2018-03-15 19:35] ctf0 commented on #40
can u show me a gif cuz i really cant find anything like that

[2018-03-15 19:41] pykong commented on #40
It requires ST >= 3154.
I do not think a gif will convey any more information than I have given.

Here is another screenshot:
![image](https://user-images.githubusercontent.com/20211140/37487200-25d3f0e0-2891-11e8-8095-d6475e9aaeed.png)

[2018-03-15 19:46] ctf0 commented on #40
![screen shot 2018-03-15 at 9 45 22 pm](https://user-images.githubusercontent.com/7388088/37487446-409fb07c-289a-11e8-8702-c9238a26a401.jpg)

[2018-03-15 19:48] pykong commented on #40
Did you focus `Seti.tmTheme`? I can not see it in the background.

[2018-03-15 19:53] ctf0 commented on #40
u meant opening the scheme then open the quick panel, i trid now and i get the error
[code]

which am not sure why, but i think there might be more than one reason, for a start try to remove all the comments and try again

[2018-03-15 19:57] pykong commented on #40
Congrats. You found the command!
Indeed, this is the same error that I am getting.
I thought you may have an idea what the reason is.

I am not sure it is the comment because ST's json system handles them (unlike the `json` module from py stdlib).

[2018-03-15 20:04] ctf0 commented on #40
i honestly not sure what exactly is cuzing this but i've tried like 5 times b4 to format the scheme into something semantic like every other schemes out there but because of the picky scopes i have it always fails 😢

[2018-03-15 20:05] ctf0 commented on #40
i would say that maybe we can focus first of adding the support to the missing langs then we can tackle this later

[2018-03-15 20:06] #37 closed

[2018-03-22 16:11] louim opened #45 "Problem with Diff color"
Hey!
Diff used to look like this:
![capture d ecran 2018-03-22 a 12 08 02](https://user-images.githubusercontent.com/923718/37782649-c79e4dd4-2dc9-11e8-953b-a633d9e47985.png)

But now they look like this:
![capture d ecran 2018-03-22 a 12 08 58](https://user-images.githubusercontent.com/923718/37782681-de178c4c-2dc9-11e8-83cd-822c66801701.png)

I'm a little bit confused, since the Repo says that t

[2018-03-22 19:02] ctf0 commented on #45
np,i will fix it, btw do u have something to test with ?

[2018-03-22 19:16] louim commented on #45
Paste [this](https://github.com/ctf0/Seti_UX/commit/73ae84ae8c059abf7750f824874d216a1717f250.diff) in a new sublime file to test. Select `diff` as syntax if it doesn't automatically.

[2018-03-22 19:19] ctf0 commented on #45
yea i understand, thats mostly because am refactoring the colors pallet of the scheme so its easier to maintain , also what version of ST r u using ? and isnt it possible to send the same text in the ss above ?

[2018-03-22 19:25] louim commented on #45
I'm running `Dev Channel, Build 3157` on OS X. The screenshot is a part of a rather large diff from a private project. I would prefer not to put it on the internet unless it's absolutely necessary.

[2018-03-22 19:32] louim commented on #45
[code]

[2018-03-22 19:35] ctf0 commented on #45
thanx, i will try to push the fix today

[2018-03-22 23:01] ctf0 commented on #45
try the latest commit, tell me if u want the bg color back

[2018-03-22 23:13] louim commented on #45
Looking good to me! No need to bring back the background color, since it was not really different from the normal brackground, and I see you're trying to reduce the number of colors.

[2018-03-23 23:31] ctf0 commented on #45
awesome.

[2018-03-23 23:31] #45 closed

[2018-04-03 09:20] OpticGenius opened #46 "Remove Comment highlighting."
Hi. I really like this theme, but the comment highlighting is very distracting. How can I disable it?

![screenshot from 2018-04-03 19-27-44](https://user-images.githubusercontent.com/20082136/38241348-48ba70f0-3775-11e8-9590-7bfb9c8d50fc.png)

[2018-04-03 10:44] ctf0 commented on #46
search for comment in https://github.com/ctf0/Seti_UX/blob/master/Seti.tmTheme and comment-out/remove any background key like https://github.com/ctf0/Seti_UX/blob/da0484a27452ef33b0a27acae52cacbb40b40466/Seti.tmTheme#L174-L175

[2018-04-03 10:44] #46 closed

[2019-09-07 09:15] #42 closed

[2020-02-25 15:46] pykong opened #48 "Revoke my push access"
@ctf0 Thanks for the great collaboration on this great scheme.
However, I feel I am not a good enough designer to make significant contributions to a color scheme.
Hence I do no longer wish to contribute and therefore ask you to revoke my push access.
Thanky you!

[2020-02-25 15:55] ctf0 commented on #48
np, thanx for ur work

[2020-02-25 15:55] #48 closed

[2020-02-25 15:55] #40 closed

[2020-02-25 15:56] #38 closed